@charset "utf-8";

*{margin: 0; padding: 0;}
/*fonte do */
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

/*borda */
.menu{
list-style:none;
float:right;
padding-right: 10px;
}

/*deixar barra horizontal*/
.menu li{
position:relative;
float:left;
border-right: #c0c0c0;
background-color: #09370E
}


/*espaços barra*/
.menu li a{text-decoration:none; padding:15px 30px; display:block;}


/* passada de mouse*/
.menu li a:hover{
background:#033504;
color:#fff;
/*sombra*/
moz-box-shadow:0 3px 10px 0 #CCC;
text-shadow:0px 0px 5px #033504 ;
}
